/* All styles for your header Components live here */

.header-title {
    display: flex;
}

.header-container {
    display: flex;
}

.header-content {
    display: flex;
    flex-direction: column;
}